<link rel="stylesheet" href="styles/info-comments.css">
<div class="container-home-page">
    <div class="background-image-container" >
        <img class="background-image" src="imgs/background.jpg">
        <div class="main-text">
            <p class="slogan">Estilo clássico, serviço impecável</p>
            <hr class="text-separtion">
            <p class="description">Bem-vindo à nossa barbearia, onde a tradição encontra a habilidade em cada corte</p>
        </div>
    </div>
    <div id="professionls" class="section-info">
        <p class="section-info-text">Profissionais</p>
        <hr class="section-info-separation">
    </div>
    <div class="container-cards"> 
        <div class="container-card">
            <div class="professional-card">
                <div class="front" >
                    <img class="card-img" src="/imgs/professionals/{{owner.imgName}}" style="max-width: 100%;">
                </div>
                <div class="back">
                    <h5> {{owner.name}} </h5>
                    <p class="card-text"> {{owner.info}} </p>
                </div>
            </div>  
        </div>  
        {{#each workers}}
        <div class="container-card">
            <div class="professional-card">
                <div class="front">
                    <img class="card-img" src="/imgs/professionals/{{imgName}}" style="max-width: 100%;">
                </div>
                <div class="back">
                    <h5> {{name}} </h5>
                    <p class="card-text"> {{info}} </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="who-we-are" class="section-info">
        <p class="section-info-text">Quem Somos</p>
        <hr class="section-info-separation">
    </div>
    <div id="location" class="section-info">
        <p class="section-info-text">Localização</p>
        <hr class="section-info-separation">
    </div>
    <div>
        <div class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d873.3514035218352!2d-9.408793809636027!3d38.734552095399685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ec5008af67711%3A0x72c07f455dcbea67!2sR.%20Cesaltina%20Fialho%20Gouveia%20199%2C%20Alcabideche!5e0!3m2!1spt-PT!2spt!4v1686410725179!5m2!1spt-PT!2spt" width="100%" height="350" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div> 
    <hr style="width: 100%; color: white; margin-bottom:0px">
    <div class="col">
        <div class="row info-comments-brand">
            <img  src="./imgs/brand.png">
        </div>
        <div class="row" style="padding-bottom: 50px;">
            <div class="col info-comments-contacts">
                <div class="row" style="padding-bottom: 60px;">
                   <span class="info-header">CONTACTOS</span> 
                </div>
                <div class="row">
                    <i class="lnr lnr-map-marker info-comments-icon"></i>
                    <a class="info-comments-text" href="https://www.google.com/maps?ll=38.734563,-9.408831&z=18&t=m&hl=pt-PT&gl=PT&mapclient=embed&q=R.+Cesaltina+Fialho+Gouveia+199+Alcabideche" style="text-decoration: none; color: white;">
                        <span >R. Cesaltina Fialho Gouveia 199, Alcabideche</span>
                    </a> 
                    <hr>
                </div>
                <div class="row">
                    <i class="lnr lnr-envelope info-comments-icon"></i>
                    <span class="info-comments-text">studiocapilar@gmail.com</span>
                    <hr>
                </div>
                
                <div class="row">
                    <i class="lnr lnr-phone-handset info-comments-icon"></i>
                    <span class="info-comments-text">(+351) 963 286 570</span>
                    <hr >
                </div>
                
            </div>

            <div class="col info-comments-hours">
                <div class="row" style="padding-bottom: 60px;"><span class="info-header">HORÁRIO DE FUNCIONAMENTO</span></div>
                <div class="row info-day-hours">
                        <span class="info-day-text">SEG</span>
                        <span class="info-hours-text">10:00 - 21:00</span>
                        <hr>
                </div>
                <div class="row info-day-hours">
                    <span class="info-day-text">TER</span>
                    <span class="info-hours-text">10:00 - 21:00</span>
                    <hr>
                </div>
                <div class="row info-day-hours">
                    <span class="info-day-text">QUA</span>
                    <span class="info-hours-text">10:00 - 21:00</span>
                    <hr>
                </div>
                <div class="row info-day-hours">
                    <span class="info-day-text">QUI</span>
                    <span class="info-hours-text">10:00 - 21:00</span>
                    <hr>
                </div>
                <div class="row info-day-hours">
                    <span class="info-day-text">SEX</span>
                    <span class="info-hours-text">10:00 - 21:00</span>
                    <hr>
                </div>
                <div class="row info-day-hours">
                    <span class="info-day-text">SÁB</span>
                    <span class="info-hours-text">10:00 - 21:00</span>
                    <hr>
                </div>
            </div>
        </div>
        <hr>
        <div class="row info-comments-complaints">
            <span class="info-header" style="padding: 50px; font-size: large">ENTRE EM CONTACTO</span>  
            <div class="row info-comments-form">
                <form>
                   <div class="input-group">
                        <label for="name"><i class="fa-solid fa-user"></i> Nome</label>
                        <input type="text" id="name" required>
                   </div>  
                   <div class="input-group">
                        <label for="email"><i class="fa-solid fa-envelope"></i> Email</label>
                        <input type="text" id="email" required>
                   </div>  
                   <div class="input-group">
                        <label for="message"><i class="fa-solid fa-comment"></i> Mensagem</label>
                        <textarea id="message" rows="8"></textarea>
                   </div>   
                   <button type="submit"><i class="fa-sharp fa-solid fa-paper-plane"></i> Enviar</button>
                </form>
            </div>
        </div>
        <hr>
    </div>
</div>
