<div class="container-home-page">
    <img class="background-image1" src="imgs/background-2.jpg">
    <div class="container-cards"> 
        <div class="container-card">
            <div class="professional-card">
                <div class="front">
                    <img class="card-img" src="/imgs/professionals/{{owner.imgName}}">
                </div>
                <div class="back">
                    <h5> {{owner.name}} </h5>
                    <p class="card-text"> {{owner.info}} </p>
                </div>
            </div>  
        </div>  
        {{#each workers}}
        <div class="container-card">
            <div class="professional-card">
                <div class="front">
                    <img class="card-img" src="/imgs/professionals/{{imgName}}">
                </div>
                <div class="back">
                    <h5> {{name}} </h5>
                    <p class="card-text"> {{info}} </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <iframe class="location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d873.3514035218352!2d-9.408793809636027!3d38.734552095399685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ec5008af67711%3A0x72c07f455dcbea67!2sR.%20Cesaltina%20Fialho%20Gouveia%20199%2C%20Alcabideche!5e0!3m2!1spt-PT!2spt!4v1686410725179!5m2!1spt-PT!2spt" width="96%" height="350" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
